
body{
	background-color: forestgreen;
}

p{
	font-size: 35px;
}

img{
	transform: scale(0.7);
	display: block;
  	margin-left: -150px;
}

#orbit {
	text-align: center;
	font-size: 20px;
	font-family: helvetica;
	padding-bottom: 150px;
}