

body {
  background-color: #192841;
	text-align: center;
  padding-bottom: 200px;
}

.header-img {
  background: url(spacebanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 1460px;
}

header {
	font-size: 100px;
	font-family: tahoma;
  font-weight: bold;
  text-align: center;
  color: white;
}

.articlebutton {
  cursor: pointer;
}

.articlebutton:hover {
  transition-duration: 0.6s;
  border: 3px solid white;
  box-shadow: 0 0 45px white;
}

#main-img {
  border-radius: 30px;
  padding: 5px;  
  border: 5px solid slategrey;
  margin-top: 50px;
}

p {
  color: white;
  font-size: 60px;
  display: inline-block;
  font-family: sans-serif;
  margin-top: 10px;
}


#sun {
  background: #ffcc00;
  border-radius: 50%;
  width: 750px;
  height: 750px;
  margin-left: 210px;
  margin-top: 90px;
}

#sun p{
  color: black;
  text-transform: uppercase;
  font-size: 190px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 700px;
}

.sunbutton {
  cursor: pointer;
  border-radius: 50%;
  width: 750px;
  height: 750px;
}

.sunbutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
  color: white;
}

#mercury {
  background: wheat;
  border-radius: 250px;
  width: 200px;
  height: 200px;
  margin-left: 750px;
  margin-top: 100px;
}

#mercury p{
  color: black;
  text-transform: uppercase;
  font-size: 35px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
}

.mercurybutton {
  cursor: pointer;
}

.mercurybutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}

#venus {
  background: peru;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 1050px;
  margin-top: 100px;
}

#venus p{
  color: black;
  text-transform: uppercase;
  font-size: 45px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 230px;
}

.venusbutton {
  cursor: pointer;
}

.venusbutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}

#earth {
  background: forestgreen;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: -10px;
}

#earth p{
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
}

.earthbutton {
  cursor: pointer;
}

.earthbutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}

#mars {
  background: maroon;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 660px;
  margin-top: 100px;
}

#mars p{
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 140px;
}

.marsbutton {
  cursor: pointer;
}

.marsbutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}

#jupiter {
  background: sandybrown;
  border-radius: 50%;
  width: 580px;
  height: 580px;
  margin-left: 200px;
  margin-top: 200px;
}

#jupiter p{
  color: black;
  text-transform: uppercase;
  font-size: 100px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 560px;
}

.jupiterbutton {
  cursor: pointer;
}

.jupiterbutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}

#saturn {
  background: beige;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  margin-left: 700px;
}

#saturn p{
  color: black;
  text-transform: uppercase;
  font-size: 80px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 430px;
}

.saturnbutton {
  cursor: pointer;
}

.saturnbutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}

#uranus {
  background: powderblue;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left: 150px;
  margin-top: -80px;
}

#uranus p{
  color: black;
  text-transform: uppercase;
  font-size: 70px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 380px;
}

.uranusbutton {
  cursor: pointer;
}

.uranusbutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}

#neptune {
  background: darkslategrey;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-left: 900px;
  margin-top: -100px;
}

#neptune p{
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 280px;
}

.neptunebutton {
  cursor: pointer;
}

.neptunebutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}

#pluto {
  background: #4169E1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: 500px;
  margin-top: 60px;
}

#pluto p{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-family: monospace;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.plutobutton {
  cursor: pointer;
}

.plutobutton:hover {
  background-color: #192841;
  transition-duration: 0.4s;
  border: 3px solid white;
  transform: scale(1.05);
}