

body {
  background-color: #192841;
	text-align: center;
  padding-bottom: 200px;
}

.header-img {
  width: 100%
  height: 300px;
  background: url(spacebanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
	font-size: 100px;
	font-family: tahoma;
  font-weight: bold;
  text-align: center;
  color: white;
}

img {
  vertical-align: middle;
}

p {
  color: white;
  font-size: 25px;
  display: inline-block;
  margin-left: 100px;
}

#main-img {
  border-radius: 30px;
  padding: 10px;  
  border: 2px solid white;
  margin-left: 350px;
  margin-top: 70px;
}


nav {
	font-family: tahoma;
	float: left;
	text-align: left;
	width: 15%;
  background: #2e3e4d;
  padding: 40px;
  padding-left: 20px;
  margin-top: -420px;
  height: 320px;

}

ul {
	list-style-type: none;
}

li a {
	color: white;
}

.button {
	cursor: pointer;
  padding: 25px 42px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
	background-color: #555555;
	border-radius: 40px;
}

.button:hover {
  background-color: #2e3e4d;
  color: white;
  transition-duration: 0.4s;
  border: 1px solid white;
   }

#sun {
  background: #ffcc00;
  border-radius: 50%;
  width: 750px;
  height: 750px;
  margin-left: 210px;
  margin-top: 90px;
}

#sun p{
  color: black;
  text-transform: uppercase;
  font-size: 190px;
  font-family: monospace;
  text-align: center;
  padding-top: 60px;
  margin-left: -5px;
}

.sunbutton {
  background-color: #2e3e4d;
  color: white;
  transition-duration: 0.4s;
  border: 1px solid white;
}

#mercury {
  background: wheat;
  border-radius: 250px;
  width: 200px;
  height: 200px;
  margin-left: 750px;
  margin-top: 100px;
}

#mercury p{
  color: black;
  text-transform: uppercase;
  font-size: 35px;
  font-family: monospace;
  text-align: center;
  padding-top: 45px;
  margin-left: -1px;
}

#venus {
  background: peru;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 1050px;
  margin-top: 100px;
}

#venus p{
  color: black;
  text-transform: uppercase;
  font-size: 45px;
  font-family: monospace;
  text-align: center;
  padding-top: 50px;
  margin-left: -0.5px;
}

#earth {
  background: forestgreen;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: -10px;
}

#earth p{
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-family: monospace;
  text-align: center;
  padding-top: 60px;
  margin-left: -1px;
}

#mars {
  background: maroon;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 660px;
  margin-top: 100px;
}

#mars p{
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  padding-top: 40px;
  margin-left: -1px;
}

#jupiter {
  background: sandybrown;
  border-radius: 50%;
  width: 580px;
  height: 580px;
  margin-left: 200px;
  margin-top: 200px;
}

#jupiter p{
  color: black;
  text-transform: uppercase;
  font-size: 100px;
  font-family: monospace;
  text-align: center;
  padding-top: 140px;
  margin-left: -1px;
}

#saturn {
  background: beige;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  margin-left: 700px;
}

#saturn p{
  color: black;
  text-transform: uppercase;
  font-size: 80px;
  font-family: monospace;
  text-align: center;
  padding-top: 100px;
  margin-left: -0.5px;
}

#uranus {
  background: powderblue;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left: 150px;
  margin-top: -80px;
}

#uranus p{
  color: black;
  text-transform: uppercase;
  font-size: 70px;
  font-family: monospace;
  text-align: center;
  padding-top: 100px;
  margin-left: -1px;
}

#neptune {
  background: darkslategrey;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-left: 900px;
  margin-top: -100px;
}

#neptune p{
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  padding-top: 100px;
  margin-left: -0.5px;
}

#pluto {
  background: midnightblue;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: 500px;
  margin-top: 50px;
}

#pluto p{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-family: monospace;
  text-align: center;
  padding-top: 15px;
  margin-left: -0.5px;
}