

body {
	background-color: #152238; 
  color: white;
	text-align: center;
  padding-bottom: 200px;
}


header {
	font-size: 100px;
	font-family: tahoma;
	text-align: center;  
	background-color: #2e3e4d;
 	padding: 50px;
  text-align: center;
  color: white;
}

img {
	border: 3px solid white;
	margin-top: 50px;
	margin-bottom: 20px;
}

#circle {
  border-radius: 230px;
  padding: 10px; 
  width: 350px;
  height: 350px; 
}


nav {
	font-family: tahoma;
	float: left;
	text-align: left;
	width: 15%;
  background: #2e3e4d;
  padding: 40px;
  padding-top: 50px;
  padding-left: 20px;
  height: 400px;

}

ul {
	list-style-type: none;
}

li a {
	color: white;
}

.button {
	cursor: pointer;
  padding: 25px 42px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
	background-color: #555555;
	border-radius: 40px;
}

.button:hover {
  background-color: #2e3e4d;
  color: white;
  transition-duration: 0.4s;
  border: 1px solid white;
   }

#sun {
  background: #ffcc00;
  border-radius: 250px;
  width: 300px;
  height: 300px;
  margin-left: 300px;
}

#sun p{
  color: black;
  text-transform: uppercase;
  font-size: 75px;
  font-family: monospace;
  text-align: center;
  padding-top: 110px;
}

#mercury {
  background: wheat;
  border-radius: 250px;
  width: 200px;
  height: 200px;
  margin-left: 750px;
  margin-top: 100px;
}

#mercury p{
  color: black;
  text-transform: uppercase;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  padding-top: 90px;
}

#venus {
  background: peru;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: 1050px;
  margin-top: 50px;
}

#venus p{
  color: black;
  text-transform: uppercase;
  font-size: 35px;
  font-family: monospace;
  text-align: center;
  padding-top: 110px;
}

#earth {
  background: forestgreen;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: -100px;
}

#earth p{
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-family: monospace;
  text-align: center;
  padding-top: 90px;
}

#mars {
  background: maroon;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 660px;
  margin-top: 100px;
}

#mars p{
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  padding-top: 60px;
}

#jupiter {
  background: sandybrown;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  margin-left: 200px;
  margin-top: 200px;
}

#jupiter p{
  color: black;
  text-transform: uppercase;
  font-size: 100px;
  font-family: monospace;
  text-align: center;
  padding-top: 260px;
}

#saturn {
  background: beige;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  margin-left: 700px;
}

#saturn p{
  color: black;
  text-transform: uppercase;
  font-size: 80px;
  font-family: monospace;
  text-align: center;
  padding-top: 190px;
}

#uranus {
  background: powderblue;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left: 150px;
  margin-top: -100px;
}

#uranus p{
  color: black;
  text-transform: uppercase;
  font-size: 70px;
  font-family: monospace;
  text-align: center;
  padding-top: 170px;
}

#neptune {
  background: darkslategrey;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-left: 900px;
  margin-top: -100px;
}

#neptune p{
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  padding-top: 130px;
}

#pluto {
  background: midnightblue;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: 500px;
  margin-top: 50px;
}

#pluto p{
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-family: monospace;
  text-align: center;
  padding-top: 25px;
}